<div class="ui five column red cards">
  <div class=" card">
    <div class="content">
      <div class="header">
        <h3>{{stationName}}{{station.stationName}}<div class="floated ui icon">
          <h1><i class="large blue globe icon"></i></h1>
        </div></h3>
      </div>
      <br>
      <p>Lat: {{latitude}}{{station.latitude}} </p>
       <p>Long: {{longitude}}{{station.longitude}}</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">
        <h3>Weather<div class="floated ui icon">
          <h1><i class="{{weatherIcon}}"></i></h1>
        </div></h3>
      </div>
      <br>
      <p>{{weatherCode}}</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">
        <h3>Temperature<div class="floated ui icon">
          <h1><i class="large red temperature low icon"></i></h1>
            <h1> <div class="floated ui icon">
              <i class="{{trendTemp}}"></i></div></h1>
        </div></h3>
      </div>
      <p>Temp: {{latestReading.temperature}}° C /{{fahrenheit}}° F</p>
      <p></p>
      <p>MinTemp: {{minTemp}} ° C</p>
      <p>MaxTemp {{maxTemp}}° C</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">
        <h3> Wind</h3>
        <div class="floated ui icon"><h1><i class="large green wind icon"></i></h1>
          <h1><div class="floated ui icon"><i class="{{trendWind}}"></i></div></h1>
        </div>
      </div>
      <p> Beaufort: {{beaufortReading}}</p>
      <p> {{beaufortLabel}}</p>
      <p> Wind Direction: {{windCompass}}</p>
      <p> Feels like: {{windChill}}° C</p>
      <p>min:{{minWind}}km/hr</p>
      <p>max:{{maxWind}} km/hr</p>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">
        <h3>Pressure <div class="floated ui icon">
          <h1><i class="large yellow compress arrows alternate icon"></i></h1>
          <h1><div class="floated ui icon">
            <i class="{{trendPress}}"></i></div></h1>
        </div></h3>
      </div>
      <p>Pressure:{{latestReading.pressure}}hpa</p>
      <p>min: {{minPress}} hpa</p>
      <p>max: {{maxPress}}hpa</p>

    </div>
  </div>
</div>


