<table class="ui table">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
    {{#each playlist.songs}}
      <tr>
        <td>
          {{title}}date
        </td>
        <td>
          {{artist}}code
        </td>
        <td>
          {{duration}}temperature
        </td>
        <td>
          {{duration}}windspeed
        </td>
        <td>
          {{duration}}winddirection
        </td>
        <td>
          {{duration}}pressure
        </td>
        <td>
          <a href="/playlist/{{../playlist.id}}/deletesong/{{id}}" class="ui icon button">
            <i class="icon red trash alternate"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
